<footer class="border-top">
    <div class="logo-footer">
        <a href="/">
            <img src="/assets/logos/logo-sin-fondo.png" alt="Logo María José Núñez" width="250px">
        </a>
    </div>

    <div class="info">
        <h5>DIRECCIÓN</h5>
        <p>
            Ibarbalz 1052, Barrio General Paz
        </p>
    </div>

    <div class="info">
        <h5>HORARIOS DE ATENCIÓN</h5>
        <p>
            Lunes a Viernes de 17 a 21 hs
        </p>
    </div>

    <div class="info">
        <h5>CONTACTANOS</h5>
        <ul style="list-style: none; padding-left: 0px">
            <li>
                <a class="contacto" href="tel: 3515329273">
                    <img src="/assets/iconos/tel.png" alt="" style="width: 15px"> +54 9 351 532-9273</a>
            </li>
            <li>
                <a class="contacto" href="mailto: estudiodanzamjn@gmail.com">
                    <img src="/assets/iconos/mail.png" alt="" style="width: 18px">
                    estudiodanzamjn@gmail.com</a>
            </li>
        </ul>
    </div>

    <div>
        <a target="_blank" href="https://www.instagram.com/estudiodanzamjn" title="Instagram">
            <img class="red-social" src="/assets/iconos/ig.png" alt="IG"></a>

        <a target="_blank" href="https://www.facebook.com/estudiodanzamjn" title="Facebook">
            <img class="red-social" src="/assets/iconos/fb.png" alt="FB"></a>

        <a target="_blank" href="https://api.whatsapp.com/send/?phone=5493515329273" title="Whatsapp">
            <img class="red-social" src="/assets/iconos/ws.png" alt="WS"></a>
    </div>
</footer>