{{!-- <header>
    <div class="navbar1">
        <a href="/" class="mx-auto"><img class="logo" src="/assets/logos/logo.png" alt="Logo María José Núñez"></a>
        <div class="dropdown">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-circle usuario dropdown-toggle" role="button"
                data-bs-toggle="dropdown" aria-expanded="false" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/login">Iniciar Sesión</a></li>
                <li><button class="dropdown-item" id="cerrarSesionBtn" onclick="cerrarSesion()">Cerrar
                        Sesión</button></li>
            </ul>
        </div>
    </div>

    <nav class="navbar-expand-lg">
        <a href="/">Inicio</a>
        <a href="/staff">Staff</a>
        <a href="/clases">Clases</a>
        <a href="/fotogaleria">Fotogalería</a>
        <a href="/alquilerSalas">Alquiler de salas</a>
        <a href="/api/contacto/">Contacto</a>
        <a href="#" id="misClasesYPagosLink">Mis clases y pagos</a>
    </nav>
</header> --}}



{{!-- otra barra --}}


<header>
    <div class="navbar1">
        <a href="/" class="mx-auto"><img class="logo" src="/assets/logos/logo.png" alt="Logo María José Núñez"></a>
        <div class="dropdown">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-circle usuario dropdown-toggle" role="button"
                data-bs-toggle="dropdown" aria-expanded="false" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/login">Iniciar Sesión</a></li>
                <li><button class="dropdown-item" id="cerrarSesionBtn" onclick="cerrarSesion()">Cerrar
                        Sesión</button></li>
            </ul>
        </div>
    </div>

    <nav class="navbar-expand-lg">

        <div class="navbar2">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav navbar2">
                    <a class="nav-link" href="/">Inicio</a>
                    <a class="nav-link" href="/staff">Staff</a>
                    <a class="nav-link" href="/clases">Clases</a>
                    <a class="nav-link" href="/fotogaleria">Fotogalería</a>
                    <a class="nav-link" href="/alquilerSalas">Alquiler de salas</a>
                    <a class="nav-link" href="/api/contacto/">Contacto</a>
                    <a class="nav-link" href="#" id="misClasesYPagosLink">Mis clases y pagos</a>
                </div>
            </div>
        </div>

    </nav>
</header>