<h1 class="titulo-pestaña">ALQUILER DE SALAS</h1>

<div class="container">
    <div>
        <p class="subtitulo">¿Sabías que nuestro espacio está disponible para alquilar por hora?</p>
        <p>Las salas se alquilan para eventos, clases, ensayos, workshops, sesiones fotográficas, filmaciones, o lo
            que
            sea que estés imaginando y necesite de un espacio amplio. El horario
            general de alquiler es de lunes a viernes de 9 a 22hs, sujeto a disponibilidad.
            Fuera del horario general también es posible reservar el espacio con un precio diferencial.</p>
        <p>Es importante tener en cuenta que no están admitidas actividades que pudieran dañar los pisos, generando
            gran
            impacto sobre el suelo con calzado o accesorios. Tampoco están admitidas sustancias que pudieran dejar
            resbaladizo el piso, como talco, lustradores o máquinas de humo.</p>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 justify-content-center">
        <div class="col lista">
            <p>El espacio cuenta con:</p>
            <ul>
                <li>Recepción</li>
                <li>Vestuario</li>
                <li>Baño</li>
                <li>Espacios al aire libre</li>
                <li>Heladera para bebidas</li>
                <li>4 salas de distintas dimensiones</li>
            </ul>

        </div>
        <div class="col lista">
            <p>Las Salas vienen equipadas con:</p>
            <ul>
                <li>Pisos de madera flotante </li>
                <li>Ventiladores </li>
                <li>Sillas</li>
                <li>Barras de danza fijas y/o móviles</li>
                <li>Sistema de sonido</li>
                <li>Espejos</li>
            </ul>
        </div>
    </div>
    <div>
        <p>Si estás interesado, contactate con nosotros para consultar la disponibilidad y tarifas.</p>
    </div>
</div>

<div class="container text-center">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <p class="titulo-sala">SALA 1</p>
            <img class="img-sala" src="/assets/salas/sala1.jpg" alt="Sala 1">
            <p class="dimension">10m x 8m</p>
        </div>
        <div class="col">
            <p class="titulo-sala">SALA 2</p>
            <img class="img-sala" src="/assets/salas/sala2.jpg" alt="Sala 2">
            <p class="dimension">10m x 8m</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <p class="titulo-sala">SALA 3</p>
            <img class="img-sala" src="/assets/salas/sala3.jpg" alt="Sala 3">
            <p class="dimension">12m x 7m</p>
        </div>
        <div class="col">
            <p class="titulo-sala">SALA 4</p>
            <img class="img-sala" src="/assets/salas/sala4.jpg" alt="Sala 4">
            <p class="dimension">12m x 5m</p>
        </div>
    </div>
</div>