<div class="container">
    <section>
        <h3>Mis clases</h3>
        <ul class="lista">
            <li><span style="font-weight: 600;">Danza Clásica: Nivel Intermedio / Avanzado → </span>Lunes, Martes y
                Jueves de 16:00 a 17:30</li>
            <li><span style="font-weight: 600;">Danza Jazz: Nivel Avanzado → </span>Miércoles y Viernes de 16:00 a
                17:30</li>
            <li><span style="font-weight: 600;">Danza Contemporánea: Nivel Intermedio → </span>Lunes y Miércoles de
                17:30 a 19:00</li>
        </ul>
    </section>

    <section>
        <h3>Mis pagos</h3>
        <div>
            <p class="anio">2022</p>
            <ul class="lista">
                <li><span style="font-weight: 600;">Enero (medio mes) → </span>Pagado ($3.950)</li>
                <li><span style="font-weight: 600;">Febrero → </span>Pagado ($8.100)</li>
                <li><span style="font-weight: 600;">Marzo → </span>Pagado ($8.320)</li>
                <li><span style="font-weight: 600;">Abril → </span>Pagado ($8.540)</li>
                <li><span style="font-weight: 600;">Mayo → </span>Pagado ($8.700)</li>
                <li><span style="font-weight: 600;">Junio → </span>Pagado ($8.850)</li>
                <li><span style="font-weight: 600;">Julio (medio mes) → </span>Pagado ($4.600)</li>
                <li><span style="font-weight: 600;">Agosto → </span>Pagado ($9.600)</li>
                <li><span style="font-weight: 600;">Septiembre → </span>Pagado ($9.940)</li>
                <li><span style="font-weight: 600;">Octubre → </span>Pagado ($10.400)</li>
                <li><span style="font-weight: 600;">Noviembre → </span>Pagado ($10.820)</li>
                <li><span style="font-weight: 600;">Diciembre → </span>Pagado ($11.350)</li>
            </ul>
        </div>
        <div>
            <p class="anio">2023</p>
            <ul class="lista">
                <li><span style="font-weight: 600;">Enero (medio mes) → </span>Pagado ($15.800)</li>
                <li><span style="font-weight: 600;">Febrero → </span>Pendiente</li>
                <li><span style="font-weight: 600;">Marzo → </span>Pendiente</li>
                <li><span style="font-weight: 600;">Abril → </span>Pendiente</li>
                <li><span style="font-weight: 600;">Mayo → </span>Pendiente</li>
                <li><span style="font-weight: 600;">Junio → </span>Pendiente</li>
                <li><span style="font-weight: 600;">Julio (medio mes) → </span>Pendiente</li>
                <li><span style="font-weight: 600;">Agosto → </span>Pendiente</li>
                <li><span style="font-weight: 600;">Septiembre → </span>Pendiente</li>
                <li><span style="font-weight: 600;">Octubre → </span>Pendiente</li>
                <li><span style="font-weight: 600;">Noviembre → </span>Pendiente</li>
                <li><span style="font-weight: 600;">Diciembre → </span>Pendiente</li>
            </ul>
        </div>
    </section>
</div>