<h1 class="titulo-pestaña">CLASES</h1>

<div class="container">
    <h4 id="primer-ritmo">Introducción a la Danza y Preparatorio</h4>
    <p>Estas clases ofrecen un espacio lúdico y educativo donde los pequeños exploran el mundo de la danza. Entre
        los beneficios destacados se encuentran el estímulo del desarrollo motor y coordinación, la expresión
        creativa a través del movimiento, la mejora del equilibrio y la postura, la promoción del trabajo en grupo y
        el fomento de la confianza y la autoexpresión desde una edad temprana. Estas clases brindan a los niños una
        introducción a la danza de manera divertida y educativa, sentando las bases para un futuro interés y aprecio
        por las artes escénicas.</p>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nivel</th>
                <th scope="col">Profesor</th>
                <th scope="col">Horarios</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">Introducción a la Danza</th>
                <td>María José Núñez</td>
                <td>Martes y Jueves de 18:30 a 19:30</td>
            </tr>
            <tr>
                <th scope="row">Preparatorio</th>
                <td>María José Núñez</td>
                <td>Martes y Jueves de 19:30 a 20:30</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h4>Danza Clásica</h4>
    <p>El ballet ofrece una amplia gama de beneficios para la salud. Ayuda a mejorar la fuerza y la resistencia
        muscular, así como la flexibilidad y el equilibrio. También promueve una buena postura, alineación corporal
        y control del movimiento. El ballet fomenta la coordinación y la agilidad, así como el desarrollo de
        habilidades motoras y la conciencia corporal. Además, practicar ballet puede ser una excelente forma de
        ejercicio cardiovascular. A nivel mental, el ballet ayuda a mantener la concentración, el enfoque y la
        disciplina, mientras que reduce el estrés y mejora la autoconfianza.</p>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nivel</th>
                <th scope="col">Profesor</th>
                <th scope="col">Horarios</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">Pre Inicial</th>
                <td>María José Núñez</td>
                <td>Lunes y Miércoles de 19:30 a 20:30</td>
            </tr>
            <tr>
                <th scope="row">Inicial Niños</th>
                <td>Sol Bardagí</td>
                <td>Lunes y Jueves de 18:30 a 20:30 / Martes y Viernes de 18:30 a 20:30</td>
            </tr>
            <tr>
                <th scope="row">Inicial Juvenil</th>
                <td>María José Núñez</td>
                <td>Lunes, Miércoles y Viernes de 20:30 a 22:00 </td>
            </tr>
            <tr>
                <th scope="row">Inicial Adultos</th>
                <td>María José Núñez</td>
                <td>Martes y Jueves de 20:30 a 22:00</td>
            </tr>
            <tr>
                <th scope="row">Intermedio</th>
                <td>Alan García</td>
                <td>Martes, Jueves y Viernes de 16:00 a 17:30</td>
            </tr>
            <tr>
                <th scope="row">Intermedio / Avanzado</th>
                <td>María José Núñez</td>
                <td>Lunes, Martes y Jueves de 16:00 a 17:30</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h4>Danza Contemporánea</h4>
    <p>La danza contemporánea se diferencia del resto por su enfoque en la libertad de expresión, la experimentación
        y ruptura de las convenciones tradicionales. Combina técnicas y estilos diversos, incorpora movimiento libre
        y emocional, y desafía los límites establecidos, creando una forma de arte única y vanguardista.</p>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nivel</th>
                <th scope="col">Profesor</th>
                <th scope="col">Horarios</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">Niños</th>
                <td>Facundo Francia</td>
                <td>Viernes de 17:30 a 18:30</td>
            </tr>
            <tr>
                <th scope="row">Principiantes</th>
                <td>Facundo Francia</td>
                <td>Lunes y Miércoles de 20:30 a 22:00</td>
            </tr>
            <tr>
                <th scope="row">Intermedio</th>
                <td>Facundo Francia</td>
                <td>Lunes y Miércoles de 17:30 a 19:00</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h4>Danza Jazz</h4>
    <p>La danza jazz promueve el desarrollo de habilidades motoras, coordinación y flexibilidad. Además, permite
        expresar emociones y liberar energía de manera creativa. También fomenta la disciplina, la concentración y
        la expresión corporal. Ayuda a mejorar la postura, la memoria y la autoconfianza.</p>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nivel</th>
                <th scope="col">Profesor</th>
                <th scope="col">Horarios</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">Infantil</th>
                <td>María José Núñez</td>
                <td>Lunes y Miércoles de 17:30 a 18:30</td>
            </tr>
            <tr>
                <th scope="row">Inicial</th>
                <td>Sol Bardagí</td>
                <td>Viernes de 17:30 a 19:00</td>
            </tr>
            <tr>
                <th scope="row">Juvenil</th>
                <td>María José Núñez</td>
                <td>Miércoles y Viernes de 16:00 a 17:30</td>
            </tr>
            <tr>
                <th scope="row">Intermedio</th>
                <td>Sol Bardagí</td>
                <td>Miércoles de 19:00 a 20:30 y Viernes de 20:30 a 22:00</td>
            </tr>
            <tr>
                <th scope="row">Avanzado</th>
                <td>Sol Bardagí</td>
                <td>Miércoles y Viernes de 16:00 a 17:30</td>
            </tr>
            <tr>
                <th scope="row">Jazz Contemporáneo</th>
                <td>Valentina Simoncelli</td>
                <td>Lunes y Miércoles de 17:30 a 18:30</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h4>Tap</h4>
    <p>El tap es un gran ejercicio cardiovascular, aumenta la frecuencia cardíaca y es más agradable que correr
        alrededor de la cuadra o en una caminadora. Además tonifica los principales grupos de musculares y es una
        forma alegre y divertida de mantenerse en forma. Además, mejora tu equilibrio, saber dónde debe estar el
        peso del cuerpo y cuándo cambiarlo de un pie al otro es esencial para una técnica de Tap adecuada.
        Te dará mejor tono muscular, equilibrio, coordinación y control y tendrás menor riesgo de caídas.</p>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nivel</th>
                <th scope="col">Profesor</th>
                <th scope="col">Horarios</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">Niños</th>
                <td>María José Núñez</td>
                <td>Martes y Viernes de 17:30 a 18:30</td>
            </tr>
            <tr>
                <th scope="row">Principiantes</th>
                <td>María José Núñez</td>
                <td>Miércoles de 18:30 a 19:30 y Viernes de 19:30 a 20:30</td>
            </tr>
            <tr>
                <th scope="row">Intermedio</th>
                <td>María José Núñez</td>
                <td>Lunes y Viernes de 18:30 a 19:30</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h4>Street Dance</h4>
    <p>El Street Dance fomenta la autoconfianza, la creatividad y la conexión social. Es un ejercicio cardiovascular
        excelente, lo que significa que es efectiva para quemar calorías, aumentar la resistencia y mejorar la salud
        en general. Además, también puede mejorar la flexibilidad y la movilidad articular, lo que
        puede ayudar a prevenir lesiones y mantener el cuerpo en buena forma.</p>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nivel</th>
                <th scope="col">Profesor</th>
                <th scope="col">Horarios</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">Niños</th>
                <td>Julieta Andino</td>
                <td>Lunes y Viernes de 18:30 a 19:30</td>
            </tr>
            <tr>
                <th scope="row">Principiantes</th>
                <td>Julieta Andino</td>
                <td>Jueves de 20:30 a 22:00</td>
            </tr>
            <tr>
                <th scope="row">Intermedio</th>
                <td>Julieta Andino</td>
                <td>Martes y Jueves de 17:30 a 19:00</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h4>Acrotela</h4>
    <p>En Acrotela se trabaja mucho la coordinación, la fuerza y la flexibilidad. Pero también se trabaja mucho lo
        que es el trabajo en equipo y el cuidado entre todos.</p>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nivel</th>
                <th scope="col">Profesor</th>
                <th scope="col">Horarios</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">Minis</th>
                <td>Pia Moroncini</td>
                <td>Lunes y Miércoles de 18:30 a 19:30</td>
            </tr>
            <tr>
                <th scope="row">Kids</th>
                <td>Pia Moroncini</td>
                <td>Martes y Jueves de 18:30 a 19:30</td>
            </tr>
            <tr>
                <th scope="row">Jóvenes y Adultos</th>
                <td>Pia Moroncini</td>
                <td>Miércoles y Viernes de 19:30 a 20:30</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h4>Yoga Integral</h4>
    <p>Los beneficios del yoga incluyen mejora en la flexibilidad, reducción del estrés, fortalecimiento muscular,
        aumento de la conciencia corporal y mental, mejor postura, y promoción de la relajación. Aporta
        significativamente al bienestar físico y mental.</p>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nivel</th>
                <th scope="col">Profesor</th>
                <th scope="col">Horarios</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">Todos</th>
                <td>Pia Moroncini</td>
                <td>Lunes y Miércoles de 18:30 a 19:30</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h4>Comedia Musical</h4>
    <p>
        La comedia musical fusiona el arte del teatro, la música y la danza, ofreciendo una experiencia escénica
        única y vibrante. Sus principales beneficios incluyen el entretenimiento diverso y atractivo, la expresión
        artística integral que combina actuación y música, y la capacidad de transmitir mensajes emocionales de
        manera impactante. Además, participar en producciones de comedia musical puede fomentar el trabajo en
        equipo, mejorar las habilidades de actuación, canto y baile, y crear conexiones significativas entre
        artistas y audiencias.</p>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nivel</th>
                <th scope="col">Profesor</th>
                <th scope="col">Horarios</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row">Todos</th>
                <td>Matías Quiroga</td>
                <td>Martes y Jueves de 19:00 a 20:30</td>
            </tr>
        </tbody>
    </table>
</div>