<div id="carouselExampleAutoplaying" class="carousel slide container" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="7"
                aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="8"
                aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="9"
                aria-label="Slide 10"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active text-center">
                <img src="/assets/carrusel/inicio.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>CONOCÉ NUESTRAS PROPUESTAS</h5>
                    <p>¡Vení a aprender y disfrutar!</p>
                </div>
            </div>
            <div class="carousel-item text-center">
                <img src="/assets/carrusel/introduccion.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Introducción a la Danza y Preparatorio</h5>
                    <p>Para los más peques que quieren empezar a bailar</p>
                </div>
            </div>
            <div class="carousel-item text-center">
                <img src="/assets/carrusel/clasico.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Danza Clásica</h5>
                    <p>Nivel Pre Inicial, Inicial Niños, Inicial Juvenil, Inicial Adultos, Intermedio e
                        Intermedio/Avanzado</p>
                </div>
            </div>
            <div class="carousel-item text-center">
                <img src="/assets/carrusel/conte.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Danza Contemporánea</h5>
                    <p>Nivel Niños, Principiantes e Intermedio</p>
                </div>
            </div>
            <div class="carousel-item text-center">
                <img src="/assets/carrusel/jazz.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Danza Jazz</h5>
                    <p>Nivel Infantil, Incial, Juvenil, Intermedio y Avanzado</p>
                </div>
            </div>
            <div class="carousel-item text-center">
                <img src="/assets/carrusel/street.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Street Dance</h5>
                    <p>Nivel Niños, Principiantes e Intermedio</p>
                </div>
            </div>
            <div class="carousel-item text-center">
                <img src="/assets/carrusel/tela.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Acrotela</h5>
                    <p>Nivel Minis, Kids y Jóvenes y Adultos</p>
                </div>
            </div>
            <div class="carousel-item text-center">
                <img src="/assets/carrusel/tap.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Tap</h5>
                    <p>Nivel Niños, Principiantes e Intermedio</p>
                </div>
            </div>
            <div class="carousel-item text-center">
                <img src="/assets/carrusel/comedia.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Comedia Musical</h5>
                    <p>Vení a cantar, actuar y bailar en una misma clase</p>
                </div>
            </div>
            <div class="carousel-item text-center">
                <img src="/assets/carrusel/yoga.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Yoga Integral</h5>
                    <p>Para cualquiera que quiera relajarse y sentirse bien</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container">
        <section>
            <h3><img class="icon" src="/assets/iconos/enseñanza.png" alt="">Enseñanza Personalizada</h3>
            <p>¡Contamos con más de 40 años de experiencia! Nuestra enseñanza personalizada nos caracteriza.
                Si sos un apasionado por la danza como nosotros, este es tu lugar.
                La mejor calidad técnica, artística y humana la encontrás en nuestro estudio.</p>
            <p>Para nosotros nadie es un número más, desde que un alumno entra, lo observamos, tratamos de conocerlo en
                profundidad, entender sus intereses, sus capacidades, sus debilidades, lo guiamos y aprovechamos su
                potencial, para así, sacar la mejor versión de cada uno de ellos.
                No permitimos que alumnos realmente apasionados por la Danza se den por vencidos por ninguna
                cuestión. Tu pasión es nuestra responsabilidad.</p>
        </section>

        <section>
            <h3><img class="icon" src="/assets/iconos/amor.png" alt=""> Formar buenos bailarines, para formar buenas
                personas</h3>
            <p>Creemos que la formación de buenos bailarines no es el único objetivo en la danza. La danza también puede
                ser una herramienta para formar buenas personas y fomentar la construcción de relaciones saludables
                entre los alumnos. </p>
            <p>La danza es una disciplina artística que puede ser practicada tanto por profesionales como por amantes de
                la misma que simplemente quieren disfrutar de bailar unas horas a la semana. No obstante, es fundamental
                para el desarrollo del ser humano, ya que es un canal de comunicación,
                expresión y reflexión. Tanto del lado de los bailarines como del lado del público.</p>
            <p>Los pequeños son la esperanza de un mundo mejor para el planeta, y como formadores tenemos la
                responsabilidad de que sean lindas personas y los artistas del mañana. En esta escuela nos comprometemos
                a que la formación no sea solo de excelencia en lo técnico y lo
                académico, sino que también nos ocupamos de formar excelentes personas.</p>
        </section>

        <section>
            <h3><img class="icon" src="/assets/iconos/diploma.png" alt=""> Comenzá la carrera de Danza</h3>
            <p>En nuestro compromiso con el crecimiento y desarrollo de nuestros estudiantes, ofrecemos la oportunidad
                de seguir una carrera profesional en la danza, permitiéndoles obtener el título de maestros y profesores
                de danza. Este proceso se realiza a través de rigurosos exámenes anuales que abarcan tanto aspectos
                prácticos como teóricos.</p>

            <p>Cada año, nuestros estudiantes se someten a evaluaciones diseñadas para medir su progreso técnico,
                comprensión teórica y habilidades pedagógicas. Estas evaluaciones no solo son una prueba de sus
                habilidades, sino también una oportunidad para recibir retroalimentación personalizada y orientación
                para su crecimiento continuo.</p>

            <p>Al completar con éxito estos exámenes, los estudiantes obtienen un título que respalda su desarrollo y
                competencia en el ámbito de la danza. Creemos que esta sólida formación académica es fundamental para
                que nuestros graduados se destaquen como profesionales en la enseñanza de la danza, preparándolos para
                una exitosa carrera en este apasionante campo artístico.</p>
        </section>

        <section>
            <h3><img class="icon" src="/assets/iconos/ballet.png" alt=""> Preparate con nosotros</h3>
            <p>Además de nuestras clases regulares, también ofrecemos programas especiales de preparación para aquellas
                alumnas que deseen presentarse en escenarios destacados como el Teatro del Libertador General San
                Martín. En estos programas, trabajamos de cerca con los estudiantes, brindándoles las herramientas y
                técnicas necesarias para que puedan destacarse en presentaciones públicas y disfrutar de la experiencia
                de bailar en un lugar tan emblemático.</p>
            <p>Nuestro enfoque va más allá de la técnica de danza y se centra en el desarrollo artístico integral.
                Trabajamos en la expresión corporal, la conexión emocional con la audiencia y la construcción de la
                confianza en el escenario. Creemos que cada actuación es una oportunidad única para expresar la
                creatividad y la pasión por la danza.</p>
            <p>Si alguno de nuestros alumnos tiene el sueño de participar en eventos o escenarios prestigiosos, nuestro
                equipo de profesionales está aquí para apoyarlos en cada paso del camino. ¡Únete a nosotros y descubre
                el emocionante mundo de la danza en su máxima expresión!</p>
        </section>
    </div>