<div class="contenedor">
    <div class="login-form">
        <form>
            <h3 class="mt-5 mb-4 fw-normal text-center">Iniciar Sesión</h3>
            <div class="mt-4 mb-3">
                <input type="text" class="form-content" placeholder="DNI" id="dni" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-content" placeholder="Contraseña" id="password" required>
            </div>

            <button type="button" class="btn mt-3" id="btn-ingresar" onclick="login()">Ingresar</button>
        </form>
        <a class="registrarse mt-3" href="/registro">Registrarse</a>
    </div>
</div>

<script src="/js/login.js"></script>