<h1 class="titulo-pestaña">STAFF DOCENTE</h1>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img class="img-staff rounded border mx-auto d-block" src="/assets/staff/mjn.jpg" alt="María José Núñez">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h4>María José Núñez</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Directora de la academia y maestra de grupos de Danza Clásica, Danza Jazz, Preparatorio, Tap
                        e Introducción a la Danza.</p>

                    <p>Comenzó sus primeros pasos de la mano de Susana Soria Arch. Es Profesora Superior de Danza
                        Clásica, Danza Española, Tap y Danzas Folklóricas Argentinas y Latinoamericanas. Recibió
                        formación en Danza Jazz, y tomó distintos Cursos de Perfeccionamiento en distintas
                        disciplinas y con maestros de relevancia nacional e internacional. Desde el año 1980, dirige
                        su Estudio de Danza, el cuál lleva su nombre. El mismo funciona de manera ininterrumpida
                        desde esa fecha. Ha sido la formadora de bailarines, coreógrafos y maestros que actualmente
                        desarrollan sus actividades en distintos ámbitos de la Danza de Córdoba. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img class="img-staff rounded border mx-auto d-block" src="/assets/staff/ff.jpg" alt="Facundo Francia">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h4>Facundo Francia</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Maestro de Danza Contemporánea.</p>
                    <p>Es tanto docente como bailarín. Se recibió de Profesor de Danza en la Universidad Provincial
                        de Córdoba y también es Profesor de danzas Folklóricas Nativas. Actualmente se encuentra
                        bailando con "La Pendiente", compañía dirigida por Mariana Massera (Carlos Paz) y en la
                        Compañía "Cortejo Escena" bajo la dirección de Ezequiel Rodríguez. Sus estudios siguen en
                        proceso, tomando clases con diversos maestros y maestras de Córdoba y de diferentes partes
                        de la Argentina.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img class="img-staff rounded border mx-auto d-block" src="/assets/staff/sb.jpg" alt="María Sol Bardagí">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h4>María Sol Bardagí</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Codirectora y maestra de Danza Clásica y Jazz.</p>
                    <p>Con formación en diversas disciplinas de Danza desde muy temprana edad, Sol se ha dedicado
                        especialmente a la Danza Jazz Contemporánea como intérprete, y como formadora, también a la
                        Danza Clásica. Ha formado parte de la Compañía de Jazz Contemporáneo "Cápsula", dirigida por
                        Laura Miranda, en los años 2017 y 2018, y sigue en constante formación y perfeccionamiento
                        con reconocidos maestros a nivel local y nacional. Con respecto a su desempeño como
                        formadora en Danza Clásica, ha obtenido el premio a la Mejor Maestra Preparadora en el
                        Certamen Gran Centro República Danza en el año 2021.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img class="img-staff rounded border mx-auto d-block" src="/assets/staff/ag.jpg" alt="Alan García">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h4>Alan García</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Maestro de Danza Clásica.</p>
                    <p>Comenzó a estudiar ballet en el "Seminario de Danzas Clásicas Nora Irinova" del Teatro del
                        Libertador a los once años. Luego de haber concluido los ocho años de estudios, comenzó a
                        formar parte de la compañía "Ballet Concierto", dirigida por Iñaki Urlezaga, haciendo
                        temporadas en España, Italia, Corea del Sur, Israel, Emiratos Árabes, como también en casi
                        todo el territorio Argentino. A los 23 años, mediante una audición llevada a cabo en todo el
                        país, entró a formar parte del "Ballet Nacional Danza por la inclusión", dirigido por Iñaki
                        Urlezaga, donde bailó repertorios creados por él, así como obras de grandes coreógrafos como
                        Geaorges Balanchine (Serenade), Frédéric Ashton (Birthday Offering) entre otros,
                        representando al país en Argentina, España y Portugal. Luego de 7 años, de regreso a
                        Córdoba, ha comenzado a dedicarse a la docencia.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img class="img-staff rounded border mx-auto d-block" src="/assets/staff/ja.jpg" alt="Julieta Andino">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h4>Julieta Andino</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Profesora de Street Dance.</p>
                    <p>Se formó en Danza Clásica y Jazz, y actualmente como bailarina se dedica a las Danzas
                        Urbanas. Durante los últimos años ha formado parte de diferentes grupos de competencia,
                        tales como "Slayers" y "Fabolous Academy", dirigidos por Boris Jaeggi, "Maxtreame", dirigido
                        por Maximiliano Chavarría, y actualmente forma parte de "Scrum", crew dirigida por Gastón
                        Pardo.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img class="img-staff rounded border mx-auto d-block" src="/assets/staff/mq.jpg" alt="Matías Quiroga">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h4>Matías Quiroga</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Profesor de Comedia Musical.</p>
                    <p>Es Instructor de Teatro y Profesor de Educación Física con formación musical. Actualmente, es
                        Seminarista en la carrera de Formación Actoral en el Jolie Libois. Tiene una capacitación
                        especial en el área Teatro Musical en la U.A.D.E. Es artista independiente en constante
                        formación, integró varios proyectos culturales y es integrante de Encitados Producciones,
                        proyecto en el que se entrena a artistas en las diferentes áreas. Además escribe, dirije y
                        produce obras originales. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img class="img-staff rounded border mx-auto d-block" src="/assets/staff/vs.jpg"
                alt="Valentina Simoncelli">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h4>Valentina Simoncelli</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Profesora de Jazz Contemporáneo Inicial y secretaria de la academia.</p>
                    <p>Es egresada del Estudio de Danza María José Núñez. Cuenta con formación en Danza Jazz, con
                        estudios complementarios de Danza Contemporánea y base técnica de Danza clásica. Tiene
                        experiencia como profesora de Jazz Contemporáneo en nivel Inicial para adultos. Actualmente
                        está estudiando la Licenciatura en Psicomotricidad, cuya formación corporal favorece al
                        aspecto expresivo y gestual que implica la danza.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <img class="img-staff rounded border mx-auto d-block" src="/assets/staff/pm.jpg" alt="Pia Moroncini ">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h4>Pia Moroncini </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Profesora de Acrotela y Yoga.</p>
                    <p>Realizó el Instructorado de Acrobacia en Tela dictado por Gabriel Lucero y avalado por la
                        Asociación de Acrobacias en Tela y la Confederación de Deportes de Cordoba y participó en
                        diversos certámenes. Además obtuvo una pasantía de 1 año en el programa
                        de Instructorado Intensivo Acrotelas de Trainig Shoes Academy. También se dedica a enseñar
                        Yoga Integral en "La Casa de Yoga" y aquí en nuestra academia.</p>
                </div>
            </div>
        </div>
    </div>
</div>