.subtitulo {
    text-align: center;
    font-weight: 600;
    font-size: large;
}


.lista {
    max-width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
}

.lista p {
    display: inline;
}

li::marker {
    color: rgb(148, 16, 44);
}

.titulo-sala {
    font-size: x-large;
    font-weight: 600;
    color: rgb(148, 16, 44);
    padding-top: 20px;
}

.img-sala {
    width: 90%;
}

.dimension {
    padding: 10px;
    font-size: large;
    font-weight: 500;
}